@model DetailsViewModel<BaseClass>

<partial name="_TitleBar" model="@{new TitleBarViewModel {ActionType = ActionTypes.Create, Title = "ایجاد سطر جدید"};}" />

<form asp-action="Create" asp-route-ReturnURL="@ViewBag.ReturnURL" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <partial name="Details_partial" model="Model" />

    <div class="op-buttons bottom">
        <a btn-type="cancel" href="@ViewBag.ReturnURL">لغو</a>
        <input btn-type="save" type="submit" value="ایجاد" />
    </div>

</form>
