@model DetailsViewModel<BaseClass>

<partial name="_TitleBar" model="@{new TitleBarViewModel{ActionType = ActionTypes.Delete,Title = "از حذف این سطر اطمینان دارید؟"};}" />

<partial name="Details_partial" model="Model" />

<form asp-route-ReturnURL="@ViewBag.ReturnURL" asp-action="Delete">
    <input type="hidden" asp-for="Row.ID" />
    <div class="op-buttons bottom">
        <a btn-type="cancel" href="@ViewBag.ReturnURL">لغو</a>
        <input btn-type="submitdelete" type="submit" value="حذف" />

    </div>
</form>
