@model BaseClass
@{
    ViewBag.ActionType = "delete";
}

@Html.Partial("_TitleBar")

@Html.Partial("Details_partial", Model)

<form asp-route-ReturnURL="@ViewBag.ReturnURL" asp-action="Delete">
    <input type="hidden" asp-for="ID" />
    <div class="op-buttns bottom">
        <a btn-type="cancel" href="@ViewBag.ReturnURL">لغو</a>
        <input btn-type="submitdelete" type="submit" value="حذف" />

    </div>
</form>
