@model DetailsViewModel<BaseClass>

<partial name="_TitleBar" model="@{new TitleBarViewModel{ActionType = ActionTypes.Details,Title = Model.Row.Title};}" />

@Html.Partial("Details_partial", Model)

<form asp-route-ReturnURL="@ViewBag.BackURL" asp-action="Delete">
    <input type="hidden" asp-for="Row.ID" />
    <div class="op-buttons bottom">
        <a btn-type="cancel" href="@ViewBag.BackURL">بازگشت</a>
    </div>
</form>
