@model BaseClass
@{
    ViewBag.ActionType = "edit";
}

@Html.Partial("_TitleBar")

<form asp-route-ReturnURL="@ViewBag.ReturnURL" asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
  @*  <input type="hidden" asp-for="SiteID" />*@

    @Html.Partial("Details_partial", Model)

    <div class="op-buttns bottom">
        <a btn-type="cancel" href="@ViewBag.ReturnURL">لغو</a>
        <input btn-type="save" type="submit" value="ذخیره" />
    </div>
</form>