@model IEnumerable<Category>

<div class="row">

    @foreach (var cat in Model)
    {
        <div class="col-6 col-md-3 border">
            <a asp-route-controller="Category"
               asp-route-action="Index" asp-route-catname="@cat.Name">@cat.Title</a>
        </div>
    }

</div>

