@model IEnumerable<Category>

<div class="row">

    @foreach (var cat in Model)
    {
        <a  asp-route="@nameof(Nobatgir.MyRoutes.SiteCatWithoutDomain)" asp-route-controller="Category"
            asp-route-action="Index" asp-route-catname="@cat.Name">@cat.Title</a>
        <br />
    }

</div>

