<div class="container">

    <div class="row"><partial name="_Header.cshtml" /></div>

    <div class="row">

        <partial name="_Right.cshtml" />

        <div class="col">
            @await Component.InvokeAsync("TimeTemplate", new { ViewName = "Default" })
        </div>

        <partial name="_Left.cshtml" />

    </div>

    <div class="row"><partial name="_Footer.cshtml" /></div>

</div>