@model Guid

<div class="row">

    <form asp-action="Completed" method="post" class="col-12" id="completeform">

        @await Component.InvokeAsync("TurnFields", new { ViewName = "Default", TurnID = Model, IsVeify = true })

    </form>

</div>

<div class="row mt-2 flex-row-reverse">

    <button class="col-6 col-md-3 btn btn-success btn-block" onclick="$('#completeform').submit();">تایید</button>

    <form asp-action="ReturnToTurn" method="post" class="col-6 col-md-3">

        <input type="hidden" name="Turn.TurnID" value="@Model" />

        <button type="submit" class="btn btn-success btn-block">بازگشت</button>
    </form>

</div>
