 
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title</title>

    <base href="~/" />

    <link rel="stylesheet" href="~/common/css/bootstrap.min.css" asp-append-version="true" />

    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous" />*@

    <link rel="stylesheet" href="~/common/css/common.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/UI/@ViewBag.ViewName/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" media="screen and (max-width: 992px)" href="~/UI/@ViewBag.ViewName/css/tablet.css" asp-append-version="true" />
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="~/UI/@ViewBag.ViewName/css/mobile.css" asp-append-version="true" />


    <script src="~/common/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/common/js/bootstrap.js" asp-append-version="true"></script>

   